.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
}

.feature {
  display: inline-block;
  margin: 5px;
  line-height: 20px;
  font-size: 14px;
  background-image: url(../../../../assets/icons/feature.svg);
  background-repeat: no-repeat;
  background-position: left top;
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .features {
    grid-template-columns: repeat(3, 1fr);
  }
}
