.features {
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.feature {
  display: inline-block;
  color: #606060;
  font-size: 16px;
  margin: 5px;
  line-height: 24px;
  padding-left: 18px;
  background-image: url(../../../../assets//icons//feature.svg);
  background-repeat: no-repeat;
  background-position: left center;
}
