.topic {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.title {
  font-size: 30px;
  font-weight: 500;
  color: #606060;
  margin-bottom: 40px;
}

.description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #606060;
  text-align: justify;
}

.subtitle {
  font-size: 22px;
  font-weight: 500;
  color: #606060;
  margin-bottom: 20px;
}

.console {
  width: 100%;
  height: 200px;
  resize: none;
  border: 2px solid #2987d6;
  border-radius: 6px;
}

.button {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  background-color: #2987d6;
  color: white;
  cursor: pointer;
  padding: 4px;
  margin: 2px;
}

.button-disabled,
.button:active {
  color: #2987d6;
  background-color: white;
}

.code-snippet {
  background-color: #1e1e1e;
  width: 100%;
  max-height: 400px;
  overflow: scroll;
  overflow: scroll;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-bottom: 10px;
}

.code-snippet img {
  width: 750px;
  height: auto;
}
