.topic {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75ch;
  box-sizing: border-box;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 4rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 3rem;
}

.sub-subtitle {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
}

.description {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.fittable {
  width: 100%;
  height: 200px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.console {
  width: 100%;
  height: 200px;
  resize: none;
  border: 2px solid var(--highlight-bg);
  border-radius: 6px;
  font-size: 0.875rem;
  line-height: 1rem;
  box-sizing: border-box;
}

.button {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  background-color: var(--highlight-bg);
  color: white;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.25rem;
  margin: 0.125rem;
}

.button-disabled,
.button:active {
  color: var(--highlight-bg);
  background-color: white;
}

.code-snippet {
  background-color: #1e1e1e;
  width: 100%;
  max-height: 400px;
  overflow: auto;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.figure {
  max-width: 100%;
  min-width: 600px;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.code {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 0.25rem;
}