.paragraph {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.title {
  font-size: 24px;
  color: #606060;
  border-bottom: 4px double rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.left-navigation {
  float: left;
  width: 166px;
  margin-right: 4px;
  padding-top: 30px;
}

.control {
  height: 30px;
  vertical-align: middle;
}

.control:hover {
  cursor: pointer;
  background-color: rgba(96, 96, 96, 0.1);
}

.label {
  margin-top: 7px;
  padding-left: 4px;
  font-size: 14px;
  float: left;
  width: 140px;
  color: #606060;
}

.check {
  margin-top: 6px;
  float: left;
  background-image: url(../../assets/icons/outline-check-circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.center {
  float: left;
}

.top-navigation {
  height: 30px;
  color: #606060;
}

.button {
  display: relative;
  padding: 5px;
  cursor: pointer;
  float: left;
}

.button-selected {
  color: #2987d6;
  border-bottom: 2px solid #2987d6;
}

.fittable {
  width: 622px;
  height: 470px;
  border: 4px double rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
