.content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 8px;
  height: 100vh;
}

.header {
  grid-column: 1 / span 2;
}

.footer {
  grid-column: 1 / span 2;
  background: var(--surface-card);
  height: 40px;
  border-top: 2px solid var(--surface-border);
}

.hamburger {
  margin-right: 8px;
  display: none;
}

.logo {
  font-size: 24px;
  font-weight: bolder;
  font-style: italic;
}

.navigation {
  display: block;
  width: 300px;
}

.navigation-tree {
  overflow: auto;
  scroll-behavior: smooth;
}


.topic {
  overflow: auto;
  max-width: 1080px;
  box-sizing: border-box;
  padding: 8px;
}

@media screen and (max-width: 1080px) {
  .hamburger {
    display: block;
  }

  .navigation {
    width: 0;
  }
}
