.content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  height: 100vh;
  height: 100svh;
  margin: 0;
  padding: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  grid-column: 1 / span 2;
}

:host ::ng-deep .p-toolbar {
  margin: 0;
  padding: 0.5rem;
}

.hamburger {
  margin-right: 0.5rem;
  display: none;
}

.logo {
  font-size: 24px;
  font-weight: bolder;
  font-style: italic;
}

.navigation {
  display: block;
}

.navigation-tree {
  overflow: auto;
  scroll-behavior: smooth;
}


.main {
  overflow: auto;
  max-width: 1366px;
}

.footer {
  grid-column: 1 / span 2;
  border-top: 1px solid var(--surface-border);
  height: 1rem;
}

@media (max-width: 100ch) {
  .hamburger {
    display: block;
  }

  .navigation {
    width: 0;
  }
}