.main {
  position: relative;
  height: 100%;
  max-width: 1680px;
}

.top {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: white;
  z-index: 5;
  border-bottom: 2px solid rgba(96, 96, 96, 0.1);
}

.logo {
  position: absolute;
  left: 4px;
  top: 10px;
  width: fit-content;
  color: #606060;
  display: inline-table;
  vertical-align: middle;
  font-size: 26px;
  font-weight: bolder;
  font-style: italic;
  padding-left: 6px;
}

.contact {
  position: absolute;
  right: 11px;
  top: 11px;
  cursor: pointer;
  font-size: 12px;
  line-height: 24px;
  color: #606060;
  padding-left: 30px;
  padding-right: 6px;
  background-image: url(../assets/icons/email.svg);
  background-repeat: no-repeat;
  background-position: left center;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.contact:hover {
  background-color: rgba(96, 96, 96, 0.1);
}

.navigation {
  position: fixed;
  left: 0px;
  top: 52px;
  width: 240px;
  height: calc(100% - 60px);
  overflow: scroll;
  scroll-behavior: smooth;
  border-right: 2px solid rgba(96, 96, 96, 0.1);
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
}

.content {
  margin-top: 52px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 240px;
  height: calc(100% - 80px);
  overflow-x: scroll;
}